@using CollectionManager.Models.Domain;
@model Topic
@{
    ViewData["Title"] = "Add Topics";
}
<div class="container pt-5">
    <div class="row">
        <div class="col-md-6">
            <h3>@ViewData["Title"]</h3>
            <form asp-controller="Topic" asp-action="Add" method="post">
                <div class="form-group">
                    <label asp-for="Name">Name *</label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <input type="text" class="form-control" asp-for="Name" />
                    <label asp-for="Description">Description *</label>
                    <span asp-validation-for="Description" class="text-danger"></span>
                    <input type="text" class="form-control" asp-for="Description" />
                </div>

                @if(TempData["msg"] != null)
                {
                    <div class="form-group text-primary">
                        @TempData["msg"]
                    </div>
                }
                <div class="form-group pt-3">
                    <button type="submit" class="btn btn-dark">Add</button>
                    <a href="/Topic/Index" class="btn btn-primary">List</a>
                </div>
            </form>
        </div>
    </div>
</div>