@using CollectionManager.Models.Domain;
@model IEnumerable<Topic>
@{
    ViewData["Title"] = "Topics";
}
<h1>@ViewData["Title"]</h1>
<div class="container pt-5">
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-dark" href="/Topic/Add">Add more</a>
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <br />
            <table class="table table-striped table-bordered table-light">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var ithem in Model)
                    {
                        <tr>
                            <td>@ithem.Name</td>
                            <td>
                                <a class="btn btn-success" href="/Topic/Update?id=@ithem.Id">Edit</a>
                                <a class="btn btn-danger" onclick="return window.confirm('Are you sure?')" href="/Topic/Delete?id=@ithem.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>